@font-face  {
    font-family: "SuezOne";
    src: url("/assets/fonts/SuezOne-Regular.ttf");
}

@font-face  {
    font-family: "Lobster";
    src: url("/assets/fonts/Lobster-Regular.ttf");
}

@font-face  {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.ttf");
}
